@font-face {
  font-family: "iconfont"; /* Project id 5037283 */
  src: url('iconfont.woff2?t=1764662911236') format('woff2'),
       url('iconfont.woff?t=1764662911236') format('woff'),
       url('iconfont.ttf?t=1764662911236') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e615";
}

.icon-icon_love_hover:before {
  content: "\e69c";
}

.icon-guangchang:before {
  content: "\e607";
}

.icon-pen:before {
  content: "\e7a8";
}

.icon-shouye:before {
  content: "\e604";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-duibifenxi:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e603";
}

.icon-sparkles:before {
  content: "\eadb";
}

.icon-history:before {
  content: "\e658";
}

.icon-camera:before {
  content: "\e601";
}

.icon-zhaopian:before {
  content: "\e618";
}

.icon-image_shadow:before {
  content: "\e684";
}

.icon-sort:before {
  content: "\e967";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-weixin:before {
  content: "\e600";
}

