@import "@/assest/globalStyle/commonStyle.less";

.infinite-scroll {
  height: 100%;
}

.infinite-scroll-content {
  padding: 32rpx 24rpx 300rpx;
  display: flex;
  flex-direction: column;
  gap: 22rpx;
  min-height: 100%;
}

.status {
  min-height: 70rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9ca3af;
  font-size: 22rpx;
}
