@import "@/assest/globalStyle/commonStyle.less";

.waterfall-container {
  display: flex;
  gap: 24rpx;
  width: 100%;

}

.wait-load-img{
  height: 0;
  overflow: hidden;
}

.waterfall-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.waterfall-item {
  margin-bottom: 32rpx;
  border-radius: 16rpx;
  overflow: hidden;
  background: white;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);

  &:last-child {
    margin-bottom: 0;
  }
}
