@import "@/assest/globalStyle/commonStyle.less";

.drawingV2 {
  min-height: calc(100vh - 120rpx);
  background: #f7f7f7;
  position: relative;
}

.conversationShell {
  height: calc(100vh - 120rpx);
}
