.list {
  height: calc(100vh - 244rpx);
  .list-content {
    display: flex;
    flex-direction: column;
    gap: 16rpx;
    padding-bottom: 40rpx;
  }
  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16rpx 0;
    color: #64748b;
    font-size: 24rpx;
  }
}

.web-list{
  height: calc(100vh - 96rpx);
}
