@import "@/assest/globalStyle/commonStyle.less";

.chose-scene-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 8px 0;
  border-radius: 4px;

  .panel-title {
    font-size: 16px;
    font-weight: bold;
    color: @main-text-color;
    margin-bottom: 12px;
  }

  .panel-body {
    display: flex;
    width: 100%;
    flex-direction: row;
    .select-core {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 4px;
      .model-select-core {
        width: 120px;
        border-bottom-right-radius: 0!important;
        border-top-right-radius: 0!important;
        /deep/.el-select__wrapper {
          border-bottom-right-radius: 0!important;
          border-top-right-radius: 0!important;
        }
      }
      .scene-detail {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: @weak-text-gray;
        padding-left: 12px;
        height: 100%;
        font-size: 14px;
        border: 1px solid #dcdfe6;
        border-left: none;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        cursor: pointer;
      }
      .tree-container {
        min-width: 100%;
        position: absolute;
        background: white;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        max-height: 300px;
        overflow-y: auto;
        z-index: 1000;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
      }
      .tree-footer {
        position: sticky;
        background: white;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        border-top: 1px solid #dcdfe6;
        text-align: right;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .tree-footer-btn{
          display: flex;
          flex: 1;
        }
      }
    }
  }
}
